<!doctype html>

<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ page_title }}

      {% unless page_title contains shop.name %}
        – {{ shop.name }}
      {% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    <style > :root
    {
      --color-background: {{ settings.background_color }};
      --color-text: {{ settings.text_color }};
      --page-width: {{ settings.page_width }}px;
    }
  </style>
</head>

<body>
  <a class="skip-link" href="#MainContent">
    Skip to content
  </a>

  <main
    id="MainContent"
    role="main"
    tabindex="-1">
    {{ content_for_layout }}
  </main>
</body></html>