<!doctype html>

<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ page_title }}

      {% unless page_title contains shop.name %}
        – {{ shop.name }}
      {% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    <style>
      {{ settings.body_font | font_face: font_display: 'swap' }}{{ settings.heading_font | font_face: font_display: 'swap' }}:root {
        --color-background: {{ settings.background_color }};
        --color-text: {{ settings.text_color }};
        --page-width: {{ settings.page_width }}px;

        --font-body-family: {{ settings.body_font.family }}, 
        {{ settings.body_font.fallback_families }};

        --font-body-style: {{ settings.body_font.style }};
        --font-body-weight: {{ settings.body_font.weight }};
        --font-body-size: {{ settings.body_font_size }}px;

        --font-heading-family: {{ settings.heading_font.family }}, 
        {{ settings.heading_font.fallback_families }};

        --font-heading-style: {{ settings.heading_font.style }};
        --font-heading-weight: {{ settings.heading_font.weight }};
      }
    </style>
  </head>

  <body>
    <a class="skip-link" href="#MainContent">
      Skip to content
    </a>

    {% sections 'header-group' %}

    <main
      id="MainContent"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>